Makefile
Makefile.in
*.pyc
/aclocal.m4
/appended_dtbook.sem
/autom4te.cache
/config.log
/config.status
/configure
/gnome-doc-utils.make
/install-sh
/missing
/omf.make
/py-compile
/xml2brl.temp
/xmldocs.make

/bin/dots
/dots/host_settings.py
